{% extends "Layout/Main.html" %}

{% block body %}
<article>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
    <h2>Edit Post</h2>
    <form class="Edit-Post-Form">
        <div>
            <input name="Post-Title" type="text" value="{{Post.Title}}" />
            <!-- Update `Post_URL` String To Domain Name ☑️ -->
            <span>({{Post.Post_URL|Format_URL}})</span>
        </div>
        <div>
            <!-- Update `Post.Vote_Count` To Pluralize 'Point' ☑️ -->
            <!-- Update `Post.Created_At` To Format Date ☑️ -->
            {{Post.Vote_Count}} {{Post.Vote_Count|Format_Plural('Point')}} By You On {{Post.Created_At|Format_Date}}
            |
            <!-- Update `Post.Comments` To Pluralize 'Comment' ☑️ -->
            <a href="/post/{{Post.Id}}">{{Post.Comments|length}} {{Post.Comments|length|Format_Plural('Comment')}}</a>
        </div>
        <button type="submit">Save Post</button>
        <button type="button" class="Delete-Post-Btn">Delete Post</button>
    </form>
</article>

<form class="Comment-Form">
    <div>
        <textarea name="Comment-Body"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{% with Comments=Post.Comments %}
    {% include "Partials/Comments.html" %}
{% endwith %}

<script src="/JavaScript/Edit-Post.js"></script>
<script src="/JavaScript/Delete-Post.js"></script>
<script src="/JavaScript/Comment.js"></script>
{% endblock %}