{% extends "Layout/Main.html" %}

{% block body %}
{% include "Partials/Post-Info.html" %}

{% if loggedIn == True %}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{% endif %}

{% with comments=post.comments %}
  {% include "Partials/Comments.html" %}
{% endwith %}

{% if loggedIn == True %}
<script src="/JavaScript/Comment.js"></script>
<script src="/JavaScript/Upvote.js"></script>
{% endif %}

{% endblock %}